@model GuardaCapitaldaCultura2027.Models.Muicipio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Muicipio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagemNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagemNome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MuicipioId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
