@model GuardaCapitaldaCultura2027.Models.Contacto
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization;

@{
    ViewData["Title"] = "Responder";
}

<h4 class="alert-light">@Localizer["RC"]</h4>
<hr />
<div class="row">
    <div class="col-md-6 text-left">
        <fieldset class="border p-4 list-inline-item">
            <legend class="w-auto text-center font-weight-bold">@Localizer["FRC"]</legend>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ContactoId" />
                <div class="form-group">
                    <label  class="control-label">@Localizer["Nome"]</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">@Localizer["Sobrenome"]</label>
                    <input asp-for="Sobrenome" class="form-control" />
                    <span asp-validation-for="Sobrenome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">@Localizer["Assunto"]</label>
                    <input asp-for="Assunto" class="form-control" />
                    <span asp-validation-for="Assunto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label  class="control-label">@Localizer["Mensagem"]</label>
                    <textarea asp-for="Mensagem" class="form-control" rows="4" cols="50"></textarea>
                    <span asp-validation-for="Mensagem" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label  class="control-label">@Localizer["Resposta"]</label>
                    <textarea asp-for="Resposta" class="form-control" rows="6" cols="50"></textarea>
                    <span asp-validation-for="Resposta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value=@Localizer["Responder"] class="btn btn-primary float-right" />

                    <a class="btn btn-light float-left" asp-action="Index">@Localizer["VL"]</a>
                </div>
            </form>
        </fieldset>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
