@model GuardaCapitaldaCultura2027.Models.RestricaoCovid
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@{
    ViewData["Title"] = "Delete";
}

<center>
    <fieldset class="border p-4" style="width:fit-content;">
        <legend class="w-auto text-left">@Localizer["ffff"]</legend>
        <div class="row" style="width:fit-content; padding-left: 20px; padding-right:20px;">
            <table>
                <tr>
                    <td>
                        @Localizer["Descricao"]
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Descricao)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Localizer["DataInicio"]
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.DataInicio)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Localizer["DataFim"]
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.DataFim)
                    </td>
                </tr>
            </table>
        </div>
    </fieldset>
</center>
<br />
<div>
    <a asp-action="Index" class="btn btn-secondary">@Localizer["Voltar"]</a> |
    <a class="btn btn-danger" data-toggle="modal" data-target="#confirmacaoApagar">@Localizer["Eliminar"]</a>
</div>

<div id="confirmacaoApagar" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><span> @Localizer["ffff"] </span></div>
            <div class="modal-body"><h6> @Localizer["Tem"]  <b> @Localizer["mesmo"] </b>  @Localizer["ads"] </h6></div>
            <div class="modal-footer">
                <form asp-action="Eliminar">
                    <input type="hidden" asp-for="@Model.RestricaoCovidId" />
                    <input asp-action="Eliminar" value=@Localizer["Eliminar"] type="submit" asp-route-id="@Model.RestricaoCovidId" class="btn btn-danger" />
                    <a class="btn btn-info" data-dismiss="modal" aria-label="Close">@Localizer["Fechar"] </a>
                </form>
            </div>
        </div>
    </div>
</div>
