@model GuardaCapitaldaCultura2027.Models.RestricaoCovid

@{
    ViewData["Title"] = "Delete";
}

<center>
    <fieldset class="border p-4" style="width:fit-content;">
        <legend class="w-auto text-left">Eliminar Restrição COVID</legend>
        <div class="row" style="width:fit-content; padding-left: 20px; padding-right:20px;">
            <table>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Descricao)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.DataInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.DataInicio)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.DataFim)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.DataFim)
                    </td>
                </tr>
            </table>
        </div>
    </fieldset>
</center>
<br />
<div>
    <a asp-action="Index" class="btn btn-secondary">Voltar à Lista</a> |
    <a class="btn btn-danger" data-toggle="modal" data-target="#confirmacaoApagar">Eliminar</a>
</div>

<div id="confirmacaoApagar" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><span> Eliminar Restrição COVID </span></div>
            <div class="modal-body"><h6>Tem <b>mesmo</b> certeza que quer apagar?</h6></div>
            <div class="modal-footer">
                <form asp-action="Eliminar">
                    <input type="hidden" asp-for="@Model.RestricaoCovidId" />
                    <input asp-action="Eliminar" value="Eliminar" type="submit" asp-route-id="@Model.RestricaoCovidId" class="btn btn-danger" />
                    <a class="btn btn-info" data-dismiss="modal" aria-label="Close"> Fechar </a>
                </form>
            </div>
        </div>
    </div>
</div>
