@model IEnumerable<GuardaCapitaldaCultura2027.Models.LugarEvento>
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

@{ViewData["Title"] = "Index";}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ocupado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroCadeira)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ocupado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroCadeira)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.LugarEventoId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.LugarEventoId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.LugarEventoId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
