@model GuardaCapitaldaCultura2027.Models.Turista
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;
@{
    ViewData["Title"] = "Delete";
}

<h4 class="alert-light">
    @Localizer["Titulo"]
</h4>

<h3> @Localizer["AW"]</h3>
<div>
    <h4>@Localizer["Turista"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Localizer["Nome"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Apelido"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apelido)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Contacto"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contacto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NIF)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NIF)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="TuristaId" />
        <input type="submit" value= @Localizer["Delete "] class="btn btn-danger" /> |
        <a asp-action="Index">@Localizer["Voltar"]</a>
    </form>
</div>
