@model GuardaCapitaldaCultura2027.Models.Turista

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes do Turista</h1>
<br />
<br />
<table class="table table-bordered text-left">
    <tbody>
        <tr>
            <th scope="row"><h6>Nome</h6></th>
            <td>@Html.DisplayFor(model => model.Nome)</td>
        </tr>
        <tr>
            <th scope="row"><h6>Sobrenome</h6></th>
            <td> @Html.DisplayFor(model => model.Sobrenome)</td>
        </tr>
        <tr>
            <th scope="row"><h6>E-mail</h6></th>
            <td> @Html.DisplayFor(model => model.Contacto)</td>
        </tr>
        <tr>
            <th scope="row"><h6>Assunto</h6></th>
            <td>@Html.DisplayFor(model => model.NIF)</td>
        </tr>
        <tr>
            <th scope="row"><h6>Mensagem</h6></th>
            <td> @Html.DisplayFor(model => model.Email)</td>
        </tr>
    </tbody>
</table>

<div>
    <a class="btn btn-light" asp-action="Index" href="#">Voltar</a>
</div>
