@model IEnumerable<GuardaCapitaldaCultura2027.Models.Turista>
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

@{
    ViewData["Title"] = "Index";
}

<h4 class="alert-light">
    @Localizer["Titulo"]
</h4>

<p>
    <a asp-action="Create">@Localizer["CNT"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Nome"]
            </th>
            <th>
                @Localizer["Apelido"]
            </th>
            <th>
                @Localizer["Conatco"]
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NIF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apelido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Contacto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NIF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TuristaId">@Localizer["Edit"]</a> |
                    <a asp-action="Details" asp-route-id="@item.TuristaId">@Localizer["Details"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.TuristaId">@Localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
