@model GuardaCapitaldaCultura2027.Models.Municipio

@{
    ViewData["Title"] = "Detales";
}



<h1>Details</h1>

<div>
    <h4>Municipio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data_imagem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data_imagem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desativar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desativar)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imagem)
        </dt>
        <dd class="col-sm-10">
            @* @Html.DisplayFor(model => model.Imagem)*@

            @{
                var base64 = Convert.ToBase64String(Model.Imagem);
                var imgsrc = string.Format("data:image/gif; base64,{0}", base64);
            }
            <img src='@imgsrc' width="20%" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MunicipioId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>