@model GuardaCapitaldaCultura2027.Models.Municipio
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization;
@{
    ViewData["Title"] = "Detalhes";
}


<h4 class="alert-light">@Localizer["Detalhes"]</h4>
<hr />


<div class="row text-justify justify-content-md-center">
    <div class="card" style="width: 80%;">
        @{
            var base64 = Convert.ToBase64String(Model.Imagem);
            var imgsrc = string.Format("data:image/gif; base64,{0}", base64);
        }
        <img src='@imgsrc' class="img-fluid" alt="Imagem responsiva">
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(model => model.Nome)</h5>
            <p class="card-text"> @Html.DisplayFor(model => model.Descricao)</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">

                <spam class="font-weight-bold">
                    @Localizer["EM"]
                </spam>
                <spam class="ml-3">
                    @Html.DisplayFor(model => model.Desativar)
                </spam>
            </li>
            <li class="list-group-item">
                <span class="font-weight-bold">
                    @Localizer["DI"]
                </span>
                <span class="ml-3">
                    @Html.DisplayFor(model => model.Data_imagem)
                </span>
            </li>
        </ul>
        <div class="card-body">
            @if (User.IsInRole("GestorEventos") || User.IsInRole("Admin"))
            {
                <a class="btn btn-warning mr-4 float-right" asp-action="Edit" asp-route-id="@Model.MunicipioId">@Localizer["Edit"]</a>
            }
            <a class="btn btn-light float-left" asp-action="Index">@Localizer["RL"]</a>
        </div>
    </div>
</div>