@model ListaMunicipio

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <h4 class="alert-light">Lista dos Municipios</h4>
    <hr />
</div>

@if (User.IsInRole("GestorEventos") || User.IsInRole("Admin"))
{
    <div class="row">
        <p>
            <a class="btn btn-primary left" asp-action="Create">Criar Municipio</a>
        </p>
    </div>
}

<!--<div class="card mt-3 bg-info">
    <div class="card-header"> || User.IsInRole("Admin")
        <div class="card-title font-weight-bold">Search</div>
    </div>
    <div class="card-body">
        <form asp-action="Index" method="get">
            <label for="name">Name</label>
            <input name="name" type="search" class="form-control" value="@Model.SearchNome" />
            <input name="page" type="hidden" value="1" />
            <div class="mt-3">
                <input type="submit" value="Search" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Clear</a>
            </div>
        </form>
    </div>
</div>-->
<!-- Barra de Búsqueda -->


<div class="row mt-2">

    <fieldset class="border p-4 ">
        <legend class="w-auto text-center"></legend>
        <form class="input-group md-form form-sm form-1 pl-0 mb-4" asp-action="Index" method="get">
            <div class="input-group-prepend">
                <span class="input-group-text purple lighten-3" id="basic-text1">
                    <i class="fas fa-search text-white"
                       aria-hidden="true"></i>
                </span>
            </div>
            <input name="nome" type="search" placeholder="Pesquise" class="form-control" value="@Model.SearchNome" />
            <input name="page" type="hidden" value="1" />
            <div class="ml-3">
                <input type="submit" value="Pesquisar" class="btn btn-primary mr-4" />
                <a asp-action="Index" class="btn btn-secondary ml-1">Limpar Pesquisa</a>
            </div>
        </form>

        <table class="table text-lg-center">
            <thead>
                <tr>
                    <th>
                        Nome
                    </th>

                    <th>
                        Desativar
                    </th>
                    <th>
                        Opções
                    </th>
                </tr>
            </thead>
            <tbody class="text-justify">
                @foreach (var item in Model.Municipios)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Desativar)
                        </td>
                        <td class="m-5">
                            @if (User.IsInRole("GestorEventos") || User.IsInRole("Admin"))
                            {
                                <a class="btn btn-warning mr-4" asp-action="Edit" asp-route-id="@item.MunicipioId">Editar</a>
                            }
                                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.MunicipioId">Detales</a>
                            </td>
                    </tr>
                }
            </tbody>
        </table>

    </fieldset>
</div>
<div class="row">
    <nav class="mt-3">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="1" asp-route-name="@Model.SearchNome">First</a></li>

            @{
                int initalPage = Model.pagination.CurrentPage - PagingInfoMunicipio.NUMERO_ANTES_DEPOIS;
                if (initalPage < 1) initalPage = 1;

                int finalPage = Model.pagination.CurrentPage + PagingInfoMunicipio.NUMERO_ANTES_DEPOIS;
                if (finalPage > Model.pagination.TotalPages) finalPage = Model.pagination.TotalPages;
            }

            @for (int p = initalPage; p <= finalPage; p++)
            {
                if (p == Model.pagination.CurrentPage)
                {
                    <li class="page-item active"><a class="page-link" href="#">@p</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@p" asp-route-name="@Model.SearchNome">@p</a></li>
                }
            }

            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@Model.pagination.TotalPages" asp-route-name="@Model.SearchNome">Last</a></li>
        </ul>
    </nav>
</div>