@model GuardaCapitaldaCultura2027.Models.Reserva

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero_Reserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero_Reserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeedBack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeedBack)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReservaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
