@model GuardaCapitaldaCultura2027.Models.ViewModels.Reservas
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer;

@{   ViewData["Title"] = Localizer["Index"];}

<div class="row">
    <h4 class="alert-light">@Localizer["Lista dos Reservas"]</h4>
    <hr />
</div>
<div class="row">
    <p>
        <a class="btn btn-primary left" asp-action="Index" asp-controller="Home">Criar Reserva</a>
    </p>
</div>

<fieldset class="border p-4">
    <legend class="w-auto text-center"></legend>
    <form id="pesquisaform" class="input-group md-form form-sm form-1 pl-0 mb-4" asp-action="Index">
        @{
            string pesquisa = "";
            try
            {
                pesquisa = string.IsNullOrEmpty(Context.Request.Form["pesquisa"]) ? string.Empty : Context.Request.Form["pesquisa"].ToString();

            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
            }
            finally
            {
                if (string.IsNullOrEmpty(pesquisa))
                {
                    pesquisa = ViewData["pesquisa"] as string;
                }
            }
            <div class="input-group-prepend">
                <span class="input-group-text purple lighten-3" id="basic-text1">
                    <i class="fas fa-search text-white"
                       aria-hidden="true"></i>
                </span>
            </div>
            <input type="search" placeholder="Pesquisar" id="pesquisabox" autofocus oninput="this.form.submit();" onfocus="this.value = '@(pesquisa)'" onchange="this.form.submit()" name="pesquisa" class="form-control" />
            <div class="ml-3">
                <input type="submit" value="Pesquisar" class="btn btn-primary mr-4" />
                <a asp-action="Index" class="btn btn-secondary ml-1">Limpar Pesquisa</a>
            </div>
            ViewData["pesquisa"] = pesquisa;
        }
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ListaReservas.FirstOrDefault().Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ListaReservas.FirstOrDefault().Observacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ListaReservas.FirstOrDefault().Numero_Reserva)
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaReservas.Where(rsv =>
           {
               return (!string.IsNullOrWhiteSpace(ViewData["pesquisa"]?.ToString())) ?
               (rsv.ReservaId.ToString().ToLower().Contains(ViewData["pesquisa"]?.ToString().ToLower()) ||
               rsv.Nome.ToLower().Contains(ViewData["pesquisa"]?.ToString().ToLower()) ||
               rsv.Evento.Name.ToLower().Contains(ViewData["pesquisa"]?.ToString().ToLower()) ||
               rsv.Numero_Reserva.ToString().ToLower().Contains(ViewData["pesquisa"]?.ToString().ToLower())) : true;
           }).ToList())
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Observacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Numero_Reserva)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ReservaId" class="btn btn-warning mr-4">Editar</a><a asp-action="Details" asp-route-id="@item.ReservaId" class="btn btn-info mr-4">Detalhes</a><a asp-action="Delete" asp-route-id="@item.ReservaId" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</fieldset>
<br />

<div class="row">
    <nav class="mt-3">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="1">Primeira</a></li>

            @{
                int initalPage = Model.Paginacao.PaginaAtual - PagingInfoMunicipio.NUMERO_ANTES_DEPOIS;
                if (initalPage < 1) initalPage = 1;

                int finalPage = Model.Paginacao.PaginaAtual + PagingInfoMunicipio.NUMERO_ANTES_DEPOIS;
                if (finalPage > Model.Paginacao.TotalPaginas) finalPage = Model.Paginacao.TotalPaginas;
            }

            @for (int p = initalPage; p <= finalPage; p++)
            {
                if (p == Model.Paginacao.PaginaAtual)
                {
                    <li class="page-item active"><a class="page-link" href="#">@p</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@p">@p</a></li>
                }
            }

            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@Model.Paginacao.TotalPaginas">Ultima</a></li>
        </ul>
    </nav>
</div>