@model GuardaCapitaldaCultura2027.Models.Evento

@{ ViewData["Title"] = "Delete"; }

<center>
    <fieldset class="border p-4" style="width:fit-content;">
        <legend class="w-auto text-left">Eventos - Delete</legend>
        <div class="row" style="width:fit-content;padding-left: 20px;padding-right:20px;">
            <table>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Name)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Municipio.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Municipio.Nome)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Descricao)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Data_realizacao)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Data_realizacao)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Lotacao_max)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Lotacao_max)
                    </td>
                </tr>
            </table>
        </div>
    </fieldset>
</center>
<br />
<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a> |
    <a class="btn btn-danger" data-toggle="modal" data-target="#confirmacaoApagar">Delete</a>
</div>

<div id="confirmacaoApagar" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><span>Eventos - Delete</span></div>
            <div class="modal-body"><h6>Tem <b>mesmo</b> certeza que quer apagar?</h6></div>
            <div class="modal-footer">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="@Model.EventoId" />
                    <input asp-action="Delete" value="Delete" type="submit" asp-route-id="@Model.EventoId" class="btn btn-danger" />
                    <a class="btn btn-info" data-dismiss="modal" aria-label="Close">Close</a>
                </form>
            </div>
        </div>
    </div>
</div>
