@model GuardaCapitaldaCultura2027.Models.Evento
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


@{ ViewData["Title"] = Localizer["Delete"]; }

<h4 class="alert-light">@Localizer["Apagar Eventos"]</h4>
<hr />
<center>
    <div class="row text-justify justify-content-md-center">
        <div class="card" style="width: 80%;">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(model => model.Name)</h5>
                <p class="card-text"> @Html.DisplayFor(model => model.Descricao)</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <spam class="font-weight-bold">
                        @Localizer[Html.DisplayNameFor(m => m.Municipio)]
                    </spam>
                    <spam class="ml-3">
                        @Html.DisplayFor(model => model.Municipio.Nome)
                    </spam>
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">
                        @Localizer[Html.DisplayNameFor(m => m.Data_realizacao)]
                    </span>
                    <span class="ml-3">
                        @Html.DisplayFor(model => model.Data_realizacao)
                    </span>
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">
                        @Html.DisplayNameFor(model => model.Lotacao_max)
                    </span>
                    <span class="ml-3">
                        @Html.DisplayFor(model => model.Lotacao_max)
                    </span>
                </li>
            </ul>
            <div class="card-body">
                <a class="btn btn-danger" data-toggle="modal" data-target="#confirmacaoApagar">@Localizer["Delete"]</a>
                <a asp-action="Index" class="btn btn-light float-left">@Localizer["Voltar"]</a>
            </div>
        </div>
        <br />
    </div>
</center>
<br />

<div id="confirmacaoApagar" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header"><span>@Localizer["Eliminar Eventos"]</span></div>
            <div class="modal-body"><h6>@Localizer["CertezaApagar"]</h6></div>
            <div class="modal-footer">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="@Model.EventoId" />
                    <input asp-action="Delete" value="@Localizer["Delete"]" type="submit" asp-route-id="@Model.EventoId" class="btn btn-danger" />
                    <a class="btn btn-info" data-dismiss="modal" aria-label="Close">@Localizer["Fechar"]</a>
                </form>
            </div>
        </div>
    </div>
</div>
