@model GuardaCapitaldaCultura2027.Models.Evento
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer


@{ ViewData["Title"] =Localizer["Details"]; }

<h4 class="alert-light">@Localizer["Detalhes Eventos"]</h4>
<hr />
<center>
    <div class="row text-justify justify-content-md-center">
        <div class="card" style="width: 80%;">
            <div class="card-body">
                <h5 class="card-title">@Localizer[Html.DisplayNameFor(m => m.Name)]</h5>
                <p class="card-text"> @Localizer[Html.DisplayNameFor(m => m.Descricao)]</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <spam class="font-weight-bold">
                        @Localizer[Html.DisplayNameFor(m => m.Municipio.Nome)]
                    </spam>
                    <spam class="ml-3">
                        @Html.DisplayFor(model => model.Municipio.Nome)
                    </spam>
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">
                        @Localizer[Html.DisplayNameFor(m => m.Data_realizacao)]
                    </span>
                    <span class="ml-3">
                        @Html.DisplayFor(model => model.Data_realizacao)
                    </span>
                </li>
                <li class="list-group-item">
                    <span class="font-weight-bold">
                        @Localizer[Html.DisplayNameFor(m => m.Lotacao_max)]
                    </span>
                    <span class="ml-3">
                        @Html.DisplayFor(model => model.Lotacao_max)
                    </span>
                </li>
            </ul>
            <div class="card-body">
                @if (User.IsInRole("GestorEventos") || User.IsInRole("Admin"))
                {
                <a class="btn btn-warning mr-4 float-right" asp-action="Edit" asp-route-id="@Model.EventoId">@Localizer["Editar"]</a>
                }
            <a asp-action="Index" class="btn btn-light float-left">@Localizer["Voltar"]</a>
            </div>
        </div>
        <br />
    </div>
</center>