@model GuardaCapitaldaCultura2027.Models.Evento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Evento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_realizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_realizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lotacao_max)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lotacao_max)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lotacao_Ocupada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lotacao_Ocupada)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EventoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
