@model GuardaCapitaldaCultura2027.Models.Evento

@{ ViewData["Title"] = "Details"; }

<center>
    <fieldset class="border p-4" style="width:fit-content;">
        <legend class="w-auto text-left">Detalhes Eventos</legend>
        <div class="row" style="width:fit-content;padding-left: 20px;padding-right:20px;">
            <table>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Name)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Municipio.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Municipio.Nome)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Descricao)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Data_realizacao)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Data_realizacao)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Lotacao_max)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Lotacao_max)
                    </td>
                </tr>
            </table>
        </div>
    </fieldset>
    <br />
    <div>
        <a asp-action="Index" class="btn btn-secondary">Voltar à Lista</a> |
        <a asp-action="Edit" asp-route-id="@Model.EventoId" class="btn btn-secondary" style="background-color:goldenrod;border-color:goldenrod;">Editar</a>
    </div>
</center>