@model GuardaCapitaldaCultura2027.Models.Evento

@{ ViewData["Title"] = "Details"; }

<center>
    <fieldset class="border p-4" style="width:fit-content;">
        <legend class="w-auto text-left">Eventos - Details</legend>
        <div class="row" style="width:fit-content;">
            <table>
                <tr class="col-sm-2">
                    <td class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </td>
                    <td class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </td>
                </tr>
                <tr class="col-sm-2">
                    <td class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Municipio.Nome)
                    </td>
                    <td class="col-sm-10">
                        @Html.DisplayFor(model => model.Municipio.Nome)
                    </td>
                </tr>
                <tr class="col-sm-2" style="max-width: 200px;">
                    <td class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Descricao)
                    </td>
                    <td class="col-sm-10">
                        @Html.DisplayFor(model => model.Descricao)
                    </td>
                </tr>
                <tr class="col-sm-2">
                    <td class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Data_realizacao)
                    </td>
                    <td class="col-sm-10">
                        @Html.DisplayFor(model => model.Data_realizacao)
                    </td>
                </tr>
                <tr class="col-sm-2">
                    <td class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Lotacao_max)
                    </td>
                    <td class="col-sm-10">
                        @Html.DisplayFor(model => model.Lotacao_max)
                    </td>
                </tr>
            </table>
        </div>
        <br />
        <div>
            <a asp-action="Index" class="btn btn-secondary">Back to List</a> |
            <a asp-action="Edit" asp-route-id="@Model.EventoId" class="btn btn-secondary" style="background-color:goldenrod;border-color:goldenrod;">Edit</a>
        </div>
    </fieldset>
</center>