@model GuardaCapitaldaCultura2027.Models.ViewModels.Eventos

@{ ViewData["Title"] = "Index"; }


<div class="row">
    <h4 class="alert-light">Lista dos Eventos</h4>
    <hr />
</div>
<div class="row">
    <p>
        <a class="btn btn-primary left" asp-action="Create">Criar Eventos</a>
    </p>
</div>

<fieldset class="border p-4">
    <legend class="w-auto text-center"></legend>
    <form id="pesquisaform" class="input-group md-form form-sm form-1 pl-0 mb-4" asp-action="Index">
        @{
            string pesquisa = "";
            try
            {
                pesquisa = string.IsNullOrEmpty(Context.Request.Form["pesquisa"]) ? string.Empty : Context.Request.Form["pesquisa"].ToString();

            }
            catch (Exception ex)
            {
                Console.WriteLine(ex.Message);
            }
            finally
            {
                if (string.IsNullOrEmpty(pesquisa))
                {
                    pesquisa = ViewData["pesquisa"] as string;
                }
            }
            <div class="input-group-prepend">
                <span class="input-group-text purple lighten-3" id="basic-text1">
                    <i class="fas fa-search text-white"
                       aria-hidden="true"></i>
                </span>
            </div>
            <input type="search" placeholder="Pesquisar" id="pesquisabox" autofocus oninput="this.form.submit();" onfocus="this.value = '@(pesquisa)'" onchange="this.form.submit()" name="pesquisa" class="form-control" />
            <div class="ml-3">
                <input type="submit" value="Pesquisar" class="btn btn-primary mr-4" />
                <a asp-action="Index" class="btn btn-secondary ml-1">Limpar Pesquisa</a>
            </div>
            ViewData["pesquisa"] = pesquisa;
        }
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ListaEventos.FirstOrDefault().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ListaEventos.FirstOrDefault().Municipio.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ListaEventos.FirstOrDefault().Data_realizacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ListaEventos.FirstOrDefault().Lotacao_max)
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListaEventos.Where(evt =>
             {
                 return (!string.IsNullOrWhiteSpace(ViewData["pesquisa"]?.ToString())) ?
                 (evt.EventoId.ToString().ToLower().Contains(ViewData["pesquisa"]?.ToString().ToLower()) ||
                 evt.Name.ToLower().Contains(ViewData["pesquisa"]?.ToString().ToLower()) ||
                 evt.Municipio.Nome.ToLower().Contains(ViewData["pesquisa"]?.ToString().ToLower()) ||
                 evt.Lotacao_max.ToString().ToLower().Contains(ViewData["pesquisa"]?.ToString().ToLower()) ||
                 evt.Descricao.ToLower().Contains(ViewData["pesquisa"]?.ToString().ToLower()) ||
                 evt.Data_realizacao.ToString().ToLower().Contains(ViewData["pesquisa"]?.ToString().ToLower())) : true;
             }).ToList())
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Municipio.Nome)
                    </td>
                    @*<td style="max-width:200px;">
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Data_realizacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lotacao_max)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.EventoId" class="btn btn-warning mr-4">Editar</a><a asp-action="Details" asp-route-id="@item.EventoId" class="btn btn-info mr-4">Detalhes</a><a asp-action="Delete" asp-route-id="@item.EventoId" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</fieldset>
<br />

<div class="row">
    <nav class="mt-3">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="1">Primeira</a></li>

            @{
                int initalPage = Model.Paginacao.PaginaAtual - PagingInfoMunicipio.NUMERO_ANTES_DEPOIS;
                if (initalPage < 1) initalPage = 1;

                int finalPage = Model.Paginacao.PaginaAtual + PagingInfoMunicipio.NUMERO_ANTES_DEPOIS;
                if (finalPage > Model.Paginacao.TotalPaginas) finalPage = Model.Paginacao.TotalPaginas;
            }

            @for (int p = initalPage; p <= finalPage; p++)
            {
                if (p == Model.Paginacao.PaginaAtual)
                {
                    <li class="page-item active"><a class="page-link" href="#">@p</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@p">@p</a></li>
                }
            }

            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@Model.Paginacao.TotalPaginas">Ultima</a></li>
        </ul>
    </nav>
</div>