@model Evento

<div class="col-xs-12 col-sm-6 col-md-4">
    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
        <div class="mainflip">
            <div class="frontside">
                <div class="card">
                    <div class="card-body text-center">
                        
                        <img width="64" 
                             height="64" 
                             src="data:image/png;base64, @(Convert.ToBase64String(Model.Imagem))"/>
                        
                        <h4 class="card-title">@Model.Name</h4>
                        <p class="card-text">@Model.Descricao</p>
                        <p class="card-text">@Model.Data_realizacao</p>
                        @Html.ActionLink("Reservar","Create","Reservas",new { @EventoId = Model.EventoId })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>