@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization;

@{
    ViewData["Title"] = "Informações Covid-19";
}


<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner ">
        <div class="carousel-item active">
            <img src="https://covid19.min-saude.pt/wp-content/uploads/2020/03/banner_sintomas_sns241.jpg" alt="Banner Sintomas" width="1100" height="300">
        </div>
        <div class="carousel-item">
            <img src="https://covid19.min-saude.pt/wp-content/uploads/2020/09/banner_dgs_Stayway-covid-01.png" alt="Barner Stayway Covid" width="1100" height="300">
        </div>
        <div class="carousel-item">
            <img src="https://covid19.min-saude.pt/wp-content/uploads/2020/03/banner_seguranca_social-1-scaled.jpg" alt="Barner Segurança Social" width="1100" height="300">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
<div class="m-5"></div>
<div class="alert alert-light text-justify" role="alert">
    
    <h4 class="alert-heading">@Localizer["TituloCovid"]</h4>
    <p>
        @Localizer["TituloCovid1"]<br>
        <br>
        @Localizer["TituloCovid2"]
        <br>
        <br>
        @Localizer["TituloCovid3"]
        <br>
        <br>
        @Localizer["TituloCovid4"]
       <br>
        <br>
    </p>
</div>

<hr>
<section class="av_textblock_section text-justify alert alert-light text-justify" itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
    <div class="avia_textblock  " style="font-size:20px; " itemprop="text">
        <p>
            <strong>
                <span style="color: #707070;">
                    @Localizer["TituloCovid5"]
                    <br>
                </span>
            </strong>
            @Localizer["TituloCovid6"]
           
        </p>
        <p><strong><span style="color: #707070;">&nbsp;</span></strong></p>
    </div>
</section>
<hr>
<section class="avia_codeblock_section  av-small-hide av-mini-hide avia_code_block_1" itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
    <div class="avia_codeblock " itemprop="text">
        <iframe src="https://esriportugal.maps.arcgis.com/apps/opsdashboard/index.html#/acf023da9a0b4f9dbb2332c13f635829" style="width:100%;" height="800" frameborder="0">
        </iframe>
    </div>
</section>