@model EventosMunicipio

@{
    ViewData["Title"] = ViewBag.NomeMunicipio;
}
<h1>@ViewData["Title"]</h1>

<div class="row">
    @{
        foreach (var evento in Model.ListaEventos)
        {
            @await Html.PartialAsync("_EventoPartial", evento);
        }
    }
</div>

<div class="row">
    <nav class="mt-3">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" asp-action="@Model.ListaEventos.FirstOrDefault()?.Municipio?.Nome" asp-controller="Home" asp-route-page="1">First</a></li>

            @{
                int initalPage = Model.Paginacao.PaginaAtual - PagingInfoMunicipio.NUMERO_ANTES_DEPOIS;
                if (initalPage < 1) initalPage = 1;

                int finalPage = Model.Paginacao.PaginaAtual + PagingInfoMunicipio.NUMERO_ANTES_DEPOIS;
                if (finalPage > Model.Paginacao.TotalPaginas) finalPage = Model.Paginacao.TotalPaginas;
            }

            @for (int p = initalPage; p <= finalPage; p++)
            {
                if (p == Model.Paginacao.PaginaAtual)
                {
                    <li class="page-item active"><a class="page-link" href="#">@p</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link"  asp-action="@Model.ListaEventos.FirstOrDefault()?.Municipio?.Nome" asp-controller="Home" asp-route-page="@p">@p</a></li>
                }
            }

            <li class="page-item"><a class="page-link"  asp-action="@Model.ListaEventos.FirstOrDefault()?.Municipio?.Nome" asp-controller="Home" asp-route-page="@Model.Paginacao.TotalPaginas">Last</a></li>
        </ul>
    </nav>
</div>