@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization;

@{
    ViewData["Title"] = "Sobre Nós";
}
<h1>@Localizer["Sobre"]</h1>

<div class="text-justify">
    <p>@Localizer["Sobre1"]</p>
    <p>@Localizer["Sobre2"] </p>
    <p>@Localizer["Sobre3"] </p>
    <p>@Localizer["Sobre4"]  </p>
</div>


<p><img class=" img-fluid" src="~/img/perfil/LogotipoSI.jpeg" alt="card image" style="width:200px;height:100px"></p>

<section id="team" class="pb-5">
    <div class="container">

        <h3 class="section-title mb-5">@Localizer["ED"]</h3>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="~/img/perfil/FOTO.PNG" alt="card image" style="width:500px;height:300px"></p>
                                    <h4 class="card-title">Afonso Antunes</h4>
                                    <p class="card-text">@Localizer["3"]</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://github.com/AfonsoAntunes">
                                                <i class="fab fa-fw fa-github fa-2x"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="~/img/perfil/CV FOTO.png" alt="Carolina" style="width:500px;height:300px"></p>
                                    <h4 class="card-title">Carolina Rei</h4>
                                    <p class="card-text">@Localizer["3"]</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://github.com/CarolinaRei">
                                                <i class="fab fa-fw fa-github fa-2x"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="~/img/perfil/va.jpg" alt="card image" style="width:500px;height:300px"></p>
                                    <h4 class="card-title">Vagner Bom Jesus</h4>
                                    <p class="card-text">@Localizer["3"]</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://github.com/VagnerBomJesus">
                                                <i class="fab fa-fw fa-github fa-2x"></i>

                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

        </div>
    </div>
</section>